* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-1c1c1b: #1c1c1b;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-5 {
  gap: 5px;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.button {
  background-color: var(--color-232f3e);
  color: white;
  border: none;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 25px;
}
/* @media screen and (max-width: 500px) {
  .button {
    font-size: 10px;
  }
} */
/* @media screen and (max-width: 525px) {
  .button {
    padding: 8px 18px;
  }
} */

.button:hover {
  background-color: var(--color-febd69);
  color: #131921;
}
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}
/* Header part */

/* header end here */

/* Footer part */

/* Footer part end here */

/* Home page start */

/* categories section ends */
/* Home page end */

/* Blog Part Start */

/* Blog Part End */

/* Product Card Start */

/* Product Card End */

/* Special Product card start */

/* Special Product card End */

/* Our Store starts */

/* Our Store Ends */

/* contact page start */

/* contact page end */

/* Compare product starts & wishlist */

/* Compare product &wishlist end */

/* auth card start */

/* auth card end */

/* policy pages start */

/* policy pages end */

/* shipping part start here */

/* shipping part end here */

/* single product page start here  */

/* single product page end here  */

/* cart start here */

/* cart end here  */

/* Hide the header-top-strip element on screens smaller than 576px wide
 @media (max-width: 576px) {
  .header-top-strip {
    display: none;
  }
}  */

/* Center the header-upper and header-bottom elements on smaller screens */
/* @media (max-width: 768px) {
  .header-upper {
    justify-content: center;
  }

  .header-bottom {
    justify-content: space-between;
  }
} */

/* Change the flex direction of the menu-bottom element to column on smaller screens */
/* @media (max-width: 992px) {
  .menu-bottom {
    flex-direction: column;
  }
} */

/* Make the dropdown menu full width on smaller screens */
/* @media (max-width: 768px) {
  .dropdown-menu {
    width: 100%;
  }
} */

/* Make the dropdown items full width on smaller screens */
/* @media (max-width: 768px) {
  .dropdown-item {
    width: 100%;
  }
} */
/* Make the header font size smaller on smaller screens */
/* @media (max-width: 576px) {
  .header h2 {
    font-size: 1.5rem;
  }

  .header .dropdown-menu {
    font-size: 1rem;
  }
} */

/* Make the header icons smaller on smaller screens */
/* @media (max-width: 576px) {
  .header .fs-6 {
    font-size: 1rem;
  }
}   */
